.icone{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 80px;
    height: 80px;
    padding: 5px;
}

.selected{
    box-shadow: rgba(172, 200, 215, 0.733) 0px 0px 0px 1px inset;
    background-color: rgba(172, 200, 215, 0.5);
}

.icone img{
    width: 45px;
    height: auto;
    margin: 0%;
    padding: 0%;
}

.icone p{
    width: 100%;
    text-align: center;
    font-size: 12px;
    text-shadow: rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px, rgb(0, 0, 0) 0px 2px 1px, rgb(0, 0, 0) 0px -1px 1px;
    color: white;
    margin: 0%;
    padding: 0%;
}